version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pg-alpine
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: root
    ports:
      - "5432:5432"
    restart: unless-stopped


